{% extends 'layouts/application.html' %}
{% set title = "Lighting &amp; Indoor Air Quality" %}

{% block content %}

<section class="u-clearfix t-sky">
        
    <div class="u-section-lg u-container-lg">
        <h1 class="hero-heading">Lighting &amp; Indoor Air Quality,<br class="u-hidden-xs"> <i class="u-text-brand-aqua">sound</i> advice from experts.</h1>
        <div class="u-section-sm u-measure-md-10 u-measure-lg-7">
            <p class="lead">We can conduct a workplace noise survey that will assist your company in complying with it's duties under Regulation 5 of The Control of Noise at Work Regulations 2005.</p>
        </div>
        <p><a href="contact.html" class="btn btn--lg btn--brand-aqua js-anchor-nav">Book a Consultation</a></p>
    </div>

</section>

<section>

    <hr class="striped u-space-none" />
    
    <div class="u-section-lg u-container-lg">
        
        <header class="title">
            <h2 class="h1 u-measure-md-9">Indoor Air Quality</h2>
            <p class="h4"><i>Protection against ill health</i></p>
        </header>

        <div class="grid g-gutter-lg">
            <div class="g-col-lg-6">
                <p> The Health &amp; Safety at Work act states that employers have a general
                    duty to their employees for;</p> 
                <blockquote><p>“the provision and maintenance of a working environment for his
                    employees that is, so far as is reasonably practicable, safe, without risks
                    to health, and adequate as regards facilities and arrangements for their
                    welfare at work” </p></blockquote>
                <p>OHSL are able to assist employers with this duty by conducting indoor
                    air quality surveys. Parameters such as temperature, relative humidity,
                    air movement, carbon monoxide, carbon dioxide, predicted mean vote and percentage
                    people dissatisfied can be measured. The results are compared to the relevant
                    workplace exposure limits (<abbr title="Workplace Exposure Limits">WEL</abbr>),
                    guidance values and limits suggested by the World Health Organisation (<abbr title="World Health Organisation">who</abbr>),
                    The American Society of Heating, Refrigeration and Air-conditioning Engineers
                    (<abbr title="The American Society of Heating, Refrigeration and Air-conditioning Engineers">ASHRAE</abbr>)
                    and The Chartered Institute of Building Services Engineers (<abbr title="The Chartered Institute of Building Services Engineers">CIBSE</abbr>).</p> 
                <p>Temperature &amp; humidity measurements may be compared to the standard
                    (Annex A of ISO 7730-2005 - Ergonomics of the thermal environment – Analytical
                    determination and interpretation of the <abbr>PMV</abbr> and <abbr>PPD</abbr> indices
                    and local thermal comfort criteria). The standard gives recommendations
                    and categories for winter (heating period) and summer (cooling period).</p>
                      
            </div>
            <div class="g-col-lg-6">
                <h3>Lighting</h3>
                <p>The Management of Health and Safety at Work Regulations
                    1999 requires employers to have arrangements to cover health and safety,
                    this includes lighting which needs to be suitable and adequate to meet the
                    requirements of the Workplace (Health, Safety and Welfare) Regulations 1992.</p>
                <p>
                    Lighting within the workplace can contribute to the health and safety of
                    people using the workplace. The quicker and easier it is to see a hazard,
                    the more easily an accident can be avoided, hence depending on the type of
                    workplace, determines the lighting requirements for a safer working environment.
                    Poor lighting can not only affect the health of people at work (causing eyestrain,
                    migraine and headaches) but can also be linked to Sick Building Syndrome
                    (causing headaches, lethargy, irritability and poor concentration).</p>
                    <p>It is
                    important for you as an employer to assess and manage the health and safety
                    risks attributable to lighting levels within the workplace. OHSL can conduct
                    a workplace lighting survey and provide recommendations for task and general
                    lighting requirements to enhance safe working within the workplace.
                </p>
            </div>
        </div>

    </div>
</section>

{% include "shared/steps.html" %}

{% include "shared/solutions.html" %}

{% endblock %}