/**
 * Header
 * offset the fixed header
 */
[role="main"] {
    padding-top: 70px;
    @include breakpoint(screen(md)) {
        padding-top: 80px;
    }
}

.header {
    @extend %u-separator-bottom;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include flex;
    @include align-items(center);
    z-index: $z-9;
    background-color: color(neutral, white);
    transition: height 350ms cubic-bezier(0.23, 1, 0.32, 1);
}


/**
 * Header State
 */

.header.is-active {}


/**
 * Header Contents
 */

.header__header,
.header__body {
    padding: spacing();
}


/**
 * Header Header
 */

.header__header {}


/**
 * Header Body
 */

.header__body {
    @include flex;
    @include align-items(center);
    flex-grow: 1;
    width: 100%;
    @include breakpoint(max-width screen(sm, max)) {
        justify-content: flex-end;
        padding-left: 0;
    }
}


/**
 * Header Nav
 */

.header__nav {

    @include breakpoint(screen(md)) {
        @include flex;
        @include align-items(center);
        flex-grow: 1;
    }

    @include breakpoint(screen(lg)) {
        font-size: $font-size-lg;
    }

    @include breakpoint(screen(xl)) {
        margin-left: 3em;
    }

    .nav {
        @include breakpoint(screen(md)) {
            @include flex;
        }

        > li {
            margin-right: spacing();
            @include breakpoint(screen(lg)) {
                margin-right: spacing(lg);
            }
        }
    }
}


/**
 * Header Tel
 */

.header__tel {
	margin-left: auto;
	flex-shrink: 0;
    @extend %u-text-uppercase;
    font-weight: $bold;
    a:hover {
        color: color(brand, aqua);
    }
}


/**
 * Header Logo
 */

.header__logo {
    display: block;
    width: 130px;
}