/**
 * Mobile Navigation
 */


@keyframes slidein-left {
    from {
      transform: translateX(26rem);
    }
    to {
      transform: translateX(0);
    }
}

@include breakpoint(max-width screen(sm, max)) {
    .nav-mobile {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        background: color(neutral, white);
        border-left: 1px solid color(neutral, lighter);
        border-right: 0;
        flex-direction: column;
        overflow-y: auto;
        padding: spacing(lg);
        width: 90%;
        max-width: 23rem;
        z-index: 9000;
        transform: translateX(26rem);
        &.is-active {
            transform: translateX(0);
            animation: slidein-left 0.3s ease-in-out;
        }
    }
}