/**
 * Nav
 */

.nav,
%nav {
    @extend %u-list-unstyled;

    a {
        text-decoration: none;
    }
}


/**
 * Nav Pills
 */

.nav--pills,
%nav--pills {
    a {
        display: block;
        padding: spacing(xs) 0;
    }
}


/**
 * Nav Inline
 */

.nav--inline,
%nav--inline {
    @include flex;
    @include flex-wrap(wrap);
    white-space: nowrap;
}


/**
 * Nav Space
 */

.nav--space,
%nav--space {
    &:not(.nav--inline) > * {
        margin-bottom: spacing(sm);
    }

    &.nav--inline > * {
        margin-right: spacing(sm);

        &:last-child {
            margin-right: 0;
        }
    }
}


/**
 * Nav Branded
 */

.nav--branded,
%nav--branded {
    @extend %nav;
    @extend %nav--pills;
    @extend %u-text-uppercase;
    font-weight: $bold;
}



.ui-menu-toggle {
    &::after {
        background: rgba(0, 0, 0, 0.2);
        content: '';
        display: none;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &.is-active::after {
        display: block;
    }
}


@keyframes slidein-left {
    from {
      transform: translateX(26rem); }
    to {
      transform: translateX(0); } }

.ui-nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    background: #ffffff;
    border-left: 1px solid #aeb0b5;
    border-right: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    padding: 2rem;
    width: 20rem;
    z-index: 9000;
    &.is-active {
        animation: slidein-left 0.3s ease-in-out;
        display: flex;
    }
}