/**
 * Step Icon
 */

.step-icon,
%step-icon {
    display: inline-block;
    position: relative;
    margin-bottom: spacing();
    
    &__step {
        @include flex;
        @include align-items(center);
        @include justify-content(center);
        width: 2em;
        height: 2em;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: -#{spacing()};
        transform: translateY(-50%);
        text-align: center;
        border: 3px solid color(brand, steel);
        font-size: $font-size-lg;
    }
    
    &__icon {
        display: block;
        width: 90px;
    }
}