/**
 * Theme Steel
 */

.t-steel,
%t-steel {
    @extend %u-fill-brand-steel;
    
    &,
    a:not(.btn) {
        @extend %u-text-neutral-white;
    }
    
}

.t-gold {
    background-color: color(brand, gold);
    color: color(brand, steel);
    fill: color(brand, steel);
}
.t-aqua {
    background-color: color(brand, aqua);
    color: color(neutral, white);
    fill: color(neutral, white);
}
.t-sky {
    background-color: color(brand, sky);
    color: color(brand, steel);
    fill: color(brand, steel);
}