{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:600,600i,900,900i">
        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "shared/app-icons.html" %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include "shared/header.html" %}
        <main role="main" id="main">
            {% block content %}{% endblock %}
        </main>
            {% include "shared/topper.html" %}
            {% include "shared/footer.html" %}
            {% block javascript %}

        <script src="javascripts/lib/jquery.js"></script>
        <script src="javascripts/lib/jquery-no-conflict.js"></script>
        <script src="javascripts/lib/jquery-ui.min.js"></script>
        <script src="javascripts/chop.base.widget.js"></script>
        <script src="javascripts/chop.toggle.widget.js"></script>
        <script src="javascripts/chop.collapsible.widget.js"></script>
        <script src="javascripts/chop.global.js"></script>
        <script src="javascripts/app.js"></script>
        {% endblock %}
    </body>
</html>
